body {
    height: 737px;
    margin-left: 450px;
    background-image: linear-gradient(#a5e65c, #42124c);
}

.board {
    margin-left: 10px;
    width: 604px;
    height: 604px;
    background: rgb(160, 243, 215);
}

#stage {
    margin-left: 2px;
    margin-top: 2px;
}

#score {
    color: #a5e65c;
    font-family: monospace;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 7px;
}

#timer {
    color: #a5e65c;
    font-family: monospace;
    font-size: 30px;
    margin-left: 470px;
    position: absolute;
    margin-top: -34px;
}